<nav class="panel panel-default navbar-fixed-top">
    <div class="container-fluid">
        <div>
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="/user/{{model.userId}}/website">
                Websites
            </a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/website/new" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid" ng-repeat="website in model.websites">
    <div class="row">
        <div class="col-xs-10 text-primary lead">
            <a href="#/user/{{model.userId}}/website/{{website._id}}/page">
                {{website.name}}
            <a/>
        </div>
        <div class="col-xs-2">
            <p>
                <a href="#/user/{{model.userId}}/website/{{website._id}}">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </p>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text pull-right">
            <div class="col-xs-3">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
            <!--<div class="col-xs-3 text-center">
                <a href="#">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
            <div class="col-xs-3 text-center">
                <a href="#">
                    <span class="glyphicon glyphicon-star"></span>
                </a>
            </div>
            <div class="col-xs-3 text-center">
                <a href="#">
                    <span class="glyphicon glyphicon-heart"></span>
                </a>
            </div>
        </div>-->
        </div>
    </div>
</nav>