<nav class="panel panel-default navbar-fixed-top">
    <div class="container-fluid">
        <div>
            <p class="navbar-text pull-left">
                <a href="page-list.html" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Choose Widget
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <!--Header Widget-->
    <div class="row">
        <div class="col-xs-3 text-primary lead">
            <a href="widget-heading.html">Header</a>
        </div>
    </div>
    
    <!--Label Widget-->
    <div class="row">
        <div class="col-xs-3 text-primary lead">
            <a href="#">Label</a>
        </div>
    </div>

    <!--Raw Widget-->
    <div class="row">
        <div class="col-xs-3 text-primary lead">
            <a href="#">HTML</a>
        </div>
    </div>

    <!--Text Input Widget-->
    <div class="row">
        <div class="col-xs-3 text-primary lead">
            <a href="#">Text Input</a>
        </div>
    </div>

    <!--Link Widget-->
    <div class="row">
        <div class="col-xs-3 text-primary lead">
            <a href="#">Link</a>
        </div>
    </div>

    <!--Button Widget-->
    <div class="row">
        <div class="col-xs-3 text-primary lead">
            <a href="#">Button</a>
        </div>
    </div>

    <!--Image Widget-->
    <div class="row">
        <div class="col-xs-3 text-primary lead">
            <a href="widget-image.html">Image</a>
        </div>
    </div>

    <!--Youtube Widget-->
    <div class="row">
        <div class="col-xs-3 text-primary lead">
            <a href="widget-youtube.html">Youtube</a>
        </div>
    </div>

    <!--Data Table Widget-->
    <div class="row">
        <div class="col-xs-3 text-primary lead">
            <a href="#">Data Table</a>
        </div>
    </div>

    <!--Repeater Widget-->
    <div class="row">
        <div class="col-xs-3 text-primary lead">
            <a href="#">Repeater</a>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div>
            <p class="col-xs-3">
                <a href="#play" class="btn">
                    <span class="glyphicon glyphicon-play"></span>
                </a>
            </p>
            <p class="col-xs-3">
                <a href="#watdo" class="btn">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>
            </p>
            <p class="col-xs-3 pull-right">
                <a href="profile.html" class="btn">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>