<nav class="panel panel-default navbar-fixed-top">
    <div class="container-fluid">
        <div>
            <p class="navbar-text pull-left">
                <a href="#/user/{{vm.userId}}/website/{{vm.websiteId}}/page" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Widgets
            </a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{vm.userId}}/website/{{vm.websiteId}}/page/{{vm.pageId}}/widget/new" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid" ng-switch="widget.type" ng-repeat="widget in model.widgets">
    <!--Image Widget-->
    <div ng-switch-when="IMAGE" class="row">
        <div class="col-xs-10 text-primary lead">
            <img class="img-responsive" src="https://www.omm.com/~/media/images/site/locations/tokyo_780x520px.ashx"></img>
        </div>
        <div class="col-xs-2">
            <p>
                <a href="widget-image.html">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </p>
        </div>
    </div>
    
    <!--Heading Widget-->
    <div class="row" ng-switch-when="HEADER">
        <div class="col-xs-10 text-primary lead">
            <h1 class="h1widget">Tokyo is pretty neato header</h1>
        </div>
        <div class="col-xs-2">
            <p>
                <a href="widget-heading.html">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </p>
        </div>
    </div>

    <!--Youtube Widget-->
    <div class="row" ng-switch-when="YOUTUBE">
        <div class="col-xs-10 text-primary lead">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/yEowbmxLqEM" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-xs-2">
            <p>
                <a href="widget-youtube.html">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </p>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div>
            <p class="col-xs-3">
                <a href="#play" class="btn">
                    <span class="glyphicon glyphicon-play"></span>
                </a>
            </p>
            <p class="col-xs-3">
                <a href="#watdo" class="btn">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>
            </p>
            <p class="col-xs-3 pull-right">
                <a href="#/user/{{vm.userId}}" class="btn">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>